.titled-folder-box {
  &>.title {
    background-color: #9c3230;
    color: #f4908b;
    font-family: inherit;
    font-size: 0.92rem;
    display: inline-block;
    padding: 0.125rem 0.75rem;
    padding-right: 2em;
    letter-spacing: 0.065rem;
    line-height: 1;
    text-transform: uppercase;
    vertical-align: bottom;
    clip-path: polygon(0.25rem 0, calc(100% - 1rem) 0, 100% 100%, 0.33rem 100%, 0 100%, 0 0.25rem);
  }
}