/*
* TailwindCSS & ShadCN.
* @see https://tailwindcss.com/docs/guides/remix
* @see https://ui.shadcn.com
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0, 0%, 98%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --muted-grid: rgba(0, 0, 0, 0.1);
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --muted-grid: rgba(255, 255, 255, 0.1);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #e5e7eb;
  background-color: #0d1117;
  height: 100dvh;
  width: 100dvw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  cursor: pointer;
  @apply transition duration-200 active:opacity-60;
}

button {
  cursor: pointer;
  @apply transition duration-200 active:scale-[0.98];
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/*
* Custom Scrollbar.
*/
:root {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

/*
* Custom Selection Background.
*/
::-moz-selection {
  color: hsl(var(--secondary-foreground)); /* #fff; */
  background: hsl(var(--accent)); /* #7b61ff; */
}

::selection {
  color: hsl(var(--secondary-foreground)); /* #fff; */
  background: hsl(var(--accent)); /* #7b61ff; */
}

/*
* Remix Development Tools
*/
.rdt-fixed:first-child {
  height: 32px !important;
  width: 32px !important;
  margin: 16px !important;
}

.rdt-fixed:first-child svg {
  height: 32px !important;
  width: 32px !important;
}

.rdt-fixed:first-child svg rect {
  opacity: 0 !important;
}

.rdt-fixed:first-child svg path {
  &:nth-child(2) {
    fill: hsl(var(--primary)) !important;
  }
  &:nth-child(3) {
    display: none !important;
  }
  &:nth-child(4) {
    display: none !important;
  }
}

/*
* Misc
*/
.base-grid {
  @apply will-change-auto;

  background-size: 30px 30px;
  background-image: linear-gradient(90deg, var(--muted-grid) 1px, transparent 0),
    linear-gradient(180deg, var(--muted-grid) 1px, transparent 0);
}


/*
* Custom Background.
*/
.blobs {
  z-index: -1;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, #000 0, transparent 0),
    radial-gradient(at 97% 21%, #8b5cf6 0, transparent 50%),
    radial-gradient(at 52% 99%, #6f16ff 0, transparent 50%),
    radial-gradient(at 10% 29%, #8b5cf6 0, transparent 50%),
    radial-gradient(at 97% 96%, #000 0, transparent 50%),
    radial-gradient(at 33% 50%, #000 0, transparent 50%),
    radial-gradient(at 79% 53%, #000 0, transparent 50%);
  position: absolute;
  content: '';
  width: 50%;
  height: 50%;
  filter: blur(100px) saturate(150%);
  top: 25%;
  opacity: 0.4;
}

/*
* Animations.
*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.float {
  animation-name: float;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.LoadingMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  &::before {
    content: '';
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    margin-right: 0.25rem;
    background-color: hsl(36deg 100% 50%);
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px;
    animation: animloader 2s ease-out infinite;
  }
}

/** Font definitions **/
@font-face {
  font-family: 'ProFontWindows';
  src: url('/assets/fonts/pro-font-windows/ProFontWindows-webfont.woff') format('woff'),
    url('/assets/fonts/pro-font-windows/ProFontWindows-webfont.ttf') format('truetype')
}