.titled-box {
  border: #3c5a86 1px dotted;

  &>.title {
    margin-left: 1rem;
    padding-left: 0.5REM;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    transform: translateY(-50%);
    width: fit-content;
  }

  &>.content {
    /* transform: translateY(-1rem); */
    font-size: 2rem;
    text-align: center;
  }
}